.loginContainer{
    width: 100%;
    height: 100vh;
}

.backgdrop{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 30%;
    height: 65%;
    background: #78e2ff45;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px #325b68;
    border-radius: 15px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.login h3{
    font-size: 23px;
    font-weight: 500;
}

.enterCode{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.enterCode input{
    width: 100%;
    padding: 8px 0px;
    caret-color: #9ca3af;
    font-size: 17px;
    outline: none;
    text-indent: 20px;
    border-radius: 30px;
}

.login button{
    padding: 8px 25px;
    background: #fff;
    font-size: 18px;
    border-radius: 30px;
}

.inpEyes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inpEyes input{
    width: 100%;
}

.inpEyes svg{
    position: absolute;
    right: 90px;
}