.addUser{
    width: 35%;
    height: 80%;
    background: #fff;
    box-shadow: 0px 0px 15px #a7a7a7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 30px;
    gap: 25px;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input input{
    width: 100%;
    padding: 8.5px 5px;
    background: #d9d9d9;
    text-indent: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #d9d9d9;
}

.input input:focus{
    border-color: #000;
}

.input input:last-child{
    color: #a7a7a7;
}