.Navbar {
    width: 5%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: #ECECEC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 35px;
}

.Navbar svg{
    width: 25px;
    height: 25px;
}

.Navbar .active-link {
    color: #EE9314;
}
